button,input{
    padding: 5px 10px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border-radius: 4px;
    margin: 0 10px;
    border: 2px solid transparent;
}

button, .status .close{
    cursor: pointer;
}

h3.app-name{
    display: inline-block;
    width: 65%;
}

.add-form{
    display: inline-block;
    width: 35%;
    text-align: right;
}

.status{
    background-color: #6e727a;
    color: #61dafb;
    -webkit-border-radius: 3px;
    -moz-border-radius: 3px;
    border-radius: 3px;
    margin: 10px;
    padding: 5px;
    position: relative;
}

.status .close{
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 30px;
}

.add-status-text:focus{
    border: 2px inset rgba(97, 218, 251, 0.75);
}

.icon {
    display: inline-block;
    width: 1em;
    height: 1em;
    stroke-width: 0;
    stroke: currentColor;
    fill: currentColor;
}